# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/


settings.config
.idea/

.DS_Store
.idea/vcs.
trends/stanford*

sentiment/SAR14.txt
word2vec_model/GoogleNews-vectors-negative300.bin
logs/
