appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
configparser==3.5.0
logging==0.4.9.6
mediacloud==2.39.1
nltk==3.4.5
numpy==1.12.1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pymongo==3.4.0
pyparsing==2.2.0
requests==2.20.0
requests-oauthlib==0.8.0
scikit-learn==0.18.1
scipy==1.10.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.8
tweepy==3.5.0
gensim==1.0.1